.answer-text {
  display: block;

  .answer-row {
    display: flex;
  }

  .answer-row:not(:last-child) {
    margin-bottom: 10px;
  }
}

.add-answer-text:focus {
  outline: none;
}

.add-answer-text {
  width: 22px;
  height: 22px;
  background: #d9a04f;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-size: 20px;
  padding: 0;
  line-height: 0;
  color: #f9f9f9;
  border: none;
  cursor: pointer;
}

.delete-answer-btn {
  width: 17px;
  height: 17px;
  background: #d63a3a;
  border-radius: 50%;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 900;
  align-self: center;
}

.delete-answer-btn:focus {
  outline: none;
}

.answer-text-field {
  width: 130px;
  margin-right: 10px;
}

.answer-text-field:focus {
  outline: none;
}
