.preview-window {
  width: 700px;
  height: 500px;
  background: white;
  margin: 37px auto;
  border-radius: 7px;
  position: relative;

  .page-viewer-container {
    padding: 0 20px;
  }

  .next-button {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 40px;
    padding: 10px;
    border-radius: 30px;
    border: none;
    letter-spacing: 1px;
    font-family: "Nunito";
    width: 140px;
    height: 47px;
  }

  .content {
    padding: 4em 6em;
  }

  .header {
    font-weight: 700;
    margin-bottom: 0.5em;
  }

  .sub-header {
    letter-spacing: 0.5px;
    font-weight: 300;
  }
}
