.page-editor-container {
  width: 270px;
  height: 100vh;
  background: #ffffff;
  float: right;
  min-width: 270px;
  overflow-y: overlay;
  overflow-x: auto;
}

.border-bottom {
  border-bottom: 3px solid #e5e5e5;
}

.question-name-example {
  color: #222831;
  font-size: 18px;
  font-weight: 400;
  padding: 19px;
}

.pad {
  padding: 19px;
}

.section-title {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 13px;
}

.edit-feature {
  display: flex;
}

.sample {
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 1px solid #222831;
  margin-right: 30px;
  cursor: pointer;
}

.feature-text {
  font-size: 15px;
}

.right-margin {
  margin-right: 20px;
}

.font-size-display {
  width: 25px;
  height: 20px;
  font-size: 13px;
  border: 1px solid #222831;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-margin {
  margin-bottom: 10px;
}

.add-answer-text {
  width: 22px;
  height: 22px;
  background: #d9a04f;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-size: 20px;
  padding: 0;
  line-height: 0;
  color: #f9f9f9;
  border: none;
}

.answer-text-field {
  width: 150px;
}

.bg-color-picker {
  z-index: 1;
  position: absolute;
  top: 25px;
  left: 0;
}

.color-picker-row {
  position: relative;
}

.sample:focus {
  outline: none;
}
