.optional-pages-container {
  width: 720px;
  margin: 0 auto;
  padding: 0px 15px;
  padding-bottom: 30px;
}

.circ-btn-close {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  align-items: center;
  font-size: 48px;
  padding: 0;
  line-height: 0;
  color: #f9f9f9;
}

.circ-btn {
  background: #d9a04f;
  display: flex;
  justify-content: center;
  margin: auto;
  border: none;
  cursor: pointer;
}

.circ-btn-open {
  clip-path: polygon(
    20% 0%,
    0% 20%,
    30% 50%,
    0% 80%,
    20% 100%,
    50% 70%,
    80% 100%,
    100% 80%,
    70% 50%,
    100% 20%,
    80% 0%,
    50% 30%
  );
  width: 30px;
  height: 30px;
}

.circ-btn:focus {
  outline: none;
}

.circ-btn-close::after {
  content: "+";
}

.page-btn {
  cursor: pointer;
}

.inline-btn-path {
  pointer-events: none;
}

.page-btn:hover {
  fill: #dfe4e3;
}
